* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
}
.calculator {
  margin: 10px 20px;
  width: 274px;
  overflow: hidden;
}

.row {
  margin: 16px 0px 16px;
}

.calculation {
  height: 50px;
  max-width: calc(100% - 5px);
  border: none;
  border-radius: 5px;
  text-align: right;
  overflow: hidden;
  padding-top: 10px;
  margin: 15px 0px 5px;
  font-size: 25px;
  color: black;
}

.gray-button {
  background-color: rgb(51, 51, 51);
  color: white;
}

.orange-button {
  background-color: orange;
  color: white;
}

.calculator-button {
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  font-size: 26px;
  margin-right: 5px;
  cursor: pointer;
}

.clear-button {
  font-size: 17px;
}

.backspace-button {
  border-radius: 60px;
  font-size: 17px;
  width: 130px;
}
